/*.pcpg div.corner { float:right; margin:0; padding:0 .1em; font-size:.8em; letter-spacing:-.1em; line-height:100%; }*/
.pcpg div.corner { float:right; margin:0; padding:.1em; font-size:.8em; line-height:100%; }
pre.pcpg { position: relative; }
.pcpg div.corner { font-family: "Droid Sans", sans-serif; padding:0 1px 0 0; font-size:9px; line-height:10px; position: absolute; top:0;right:0;text-transform: uppercase; }
.pcpg div.corner + code { margin-top:8px; } /* just enough margin over the first line of code to not overlap with the label div.corner */
pre { line-height: 125%; margin: 0; }
