@import "_common.css";
/* Fallbacks: Base16 Equilibrium Light - author: Carlo Abelli */
.pcpg .hll { background-color: var(--base02,#d8d4cb) }
pre.pcpg, code.pcpg { background: var(--base01,#e7e2d9); color: var(--base05,#43474e) }
.pcpg .c { color: var(--base03,#73777f) } /* Comment */
.pcpg .err { color: var(--base0f,#c42775) } /* Error */
.pcpg .esc { color: var(--base0c,#007a72) } /* Escape */
.pcpg .g { color: var(--base05,#43474e) } /* Generic */
.pcpg .k { color: var(--base0e,#4e66b6) } /* Keyword */
.pcpg .l { color: var(--base0b,#637200) } /* Literal */
.pcpg .n { color: var(--base04,#5a5f66) } /* Name */
.pcpg .o { color: var(--base04,#5a5f66); font-weight: bold } /* Operator */
.pcpg .x { color: var(--base05,#43474e) } /* Other */
.pcpg .p { color: var(--base04,#5a5f66) } /* Punctuation */
.pcpg .ch { color: var(--base04,#5a5f66) } /* Comment.Hashbang */
.pcpg .cm { color: var(--base03,#73777f) } /* Comment.Multiline */
.pcpg .cp { color: var(--base0c,#007a72) } /* Comment.Preproc */
.pcpg .cpf { color: var(--base03,#73777f) } /* Comment.PreprocFile */
.pcpg .c1 { color: var(--base03,#73777f) } /* Comment.Single */
.pcpg .cs { color: var(--base0d,#0073b5) } /* Comment.Special */
.pcpg .gd { color: var(--base08,#d02023) } /* Generic.Deleted */
.pcpg .ge { color: var(--base05,#43474e); font-style: italic } /* Generic.Emph */
.pcpg .gr { color: var(--base08,#d02023) } /* Generic.Error */
.pcpg .gh { color: var(--base05,#43474e); font-weight: bold } /* Generic.Heading */
.pcpg .gi { color: var(--base0b,#637200) } /* Generic.Inserted */
.pcpg .go { color: var(--base04,#5a5f66) } /* Generic.Output */
.pcpg .gp { color: var(--base05,#43474e); font-weight: bold } /* Generic.Prompt */
.pcpg .gs { color: var(--base05,#43474e); font-weight: bold } /* Generic.Strong */
.pcpg .gu { color: var(--base0d,#0073b5) } /* Generic.Subheading */
.pcpg .gt { color: var(--base04,#5a5f66) } /* Generic.Traceback */
.pcpg .kc { color: var(--base09,#bf3e05) } /* Keyword.Constant */
.pcpg .kd { color: var(--base0e,#4e66b6) } /* Keyword.Declaration */
.pcpg .kn { color: var(--base0e,#4e66b6) } /* Keyword.Namespace */
.pcpg .kp { color: var(--base0e,#4e66b6) } /* Keyword.Pseudo */
.pcpg .kr { color: var(--base0e,#4e66b6) } /* Keyword.Reserved */
.pcpg .kt { color: var(--base0e,#4e66b6) } /* Keyword.Type */
.pcpg .ld { color: var(--base0b,#637200); font-weight: bold } /* Literal.Date */
.pcpg .m { color: var(--base09,#bf3e05) } /* Literal.Number */
.pcpg .s { color: var(--base08,#d02023) } /* Literal.String */
.pcpg .na { color: var(--base0d,#0073b5) } /* Name.Attribute */
.pcpg .nb { color: var(--base0e,#4e66b6) } /* Name.Builtin */
.pcpg .nc { color: var(--base0a,#9d6f00) } /* Name.Class */
.pcpg .no { color: var(--base09,#bf3e05) } /* Name.Constant */
.pcpg .nd { color: var(--base0e,#4e66b6) } /* Name.Decorator */
.pcpg .ni { color: var(--base08,#d02023); font-weight: bold } /* Name.Entity */
.pcpg .ne { color: var(--base05,#43474e) } /* Name.Exception */
.pcpg .nf { color: var(--base0d,#0073b5) } /* Name.Function */
.pcpg .nl { color: var(--base0d,#0073b5) } /* Name.Label */
.pcpg .nn { color: var(--base0d,#0073b5) } /* Name.Namespace */
.pcpg .nx { color: var(--base04,#5a5f66) } /* Name.Other */
.pcpg .py { color: var(--base04,#5a5f66) } /* Name.Property */
.pcpg .nt { color: var(--base08,#d02023) } /* Name.Tag */
.pcpg .nv { color: var(--base08,#d02023) } /* Name.Variable */
.pcpg .ow { color: var(--base04,#5a5f66); font-weight: bold } /* Operator.Word */
.pcpg .pm { color: var(--base04,#5a5f66) } /* Punctuation.Marker */
.pcpg .w { color: var(--base03,#73777f) } /* Text.Whitespace */
.pcpg .mb { color: var(--base09,#bf3e05) } /* Literal.Number.Bin */
.pcpg .mf { color: var(--base09,#bf3e05) } /* Literal.Number.Float */
.pcpg .mh { color: var(--base09,#bf3e05) } /* Literal.Number.Hex */
.pcpg .mi { color: var(--base09,#bf3e05) } /* Literal.Number.Integer */
.pcpg .mo { color: var(--base09,#bf3e05) } /* Literal.Number.Oct */
.pcpg .sa { color: var(--base0b,#637200) } /* Literal.String.Affix */
.pcpg .sb { color: var(--base0c,#007a72) } /* Literal.String.Backtick */
.pcpg .sc { color: var(--base0c,#007a72) } /* Literal.String.Char */
.pcpg .dl { color: var(--base04,#5a5f66) } /* Literal.String.Delimiter */
.pcpg .sd { color: var(--base0b,#637200) } /* Literal.String.Doc */
.pcpg .s2 { color: var(--base0b,#637200) } /* Literal.String.Double */
.pcpg .se { color: var(--base0c,#007a72) } /* Literal.String.Escape */
.pcpg .sh { color: var(--base0b,#637200) } /* Literal.String.Heredoc */
.pcpg .si { color: var(--base0b,#637200) } /* Literal.String.Interpol */
.pcpg .sx { color: var(--base0b,#637200) } /* Literal.String.Other */
.pcpg .sr { color: var(--base0c,#007a72); font-weight: bold } /* Literal.String.Regex */
.pcpg .s1 { color: var(--base0b,#637200) } /* Literal.String.Single */
.pcpg .ss { color: var(--base0b,#637200) } /* Literal.String.Symbol */
.pcpg .bp { color: var(--base0e,#4e66b6) } /* Name.Builtin.Pseudo */
.pcpg .fm { color: var(--base0d,#0073b5) } /* Name.Function.Magic */
.pcpg .vc { color: var(--base0a,#9d6f00) } /* Name.Variable.Class */
.pcpg .vg { color: var(--base08,#d02023) } /* Name.Variable.Global */
.pcpg .vi { color: var(--base08,#d02023) } /* Name.Variable.Instance */
.pcpg .vm { color: var(--base08,#d02023); font-weight: bold } /* Name.Variable.Magic */
.pcpg .il { color: var(--base09,#bf3e05) } /* Literal.Number.Integer.Long */