@import "../../_common.css";
/* Base16 Horizon Terminal Light - Scheme author: Michaël Ball (http://github.com/michael-ball/) */
.pcpg .hll { background-color: #F9CBBE }
pre.pcpg, code.pcpg { background: #FDF0ED; color: #403C3D }
.pcpg .c { color: #BDB3B1; font-style: italic } /* Comment */
.pcpg .err { color: #E95678 } /* Error */
.pcpg .esc { color: #403C3D } /* Escape */
.pcpg .g { color: #403C3D } /* Generic */
.pcpg .k { color: #EE64AC } /* Keyword */
.pcpg .l { color: #29D398 } /* Literal */
.pcpg .n { color: #403C3D } /* Name */
.pcpg .o { color: #59E1E3 } /* Operator */
.pcpg .x { color: #403C3D } /* Other */
.pcpg .p { color: #403C3D } /* Punctuation */
.pcpg .ch { color: #BDB3B1; font-weight: bold } /* Comment.Hashbang */
.pcpg .cm { color: #BDB3B1; font-style: italic } /* Comment.Multiline */
.pcpg .cp { color: #F9CBBE } /* Comment.Preproc */
.pcpg .cpf { color: #29D398; font-style: italic } /* Comment.PreprocFile */
.pcpg .c1 { color: #BDB3B1; font-style: italic } /* Comment.Single */
.pcpg .cs { color: #BDB3B1; font-weight: bold } /* Comment.Special */
.pcpg .gd { color: #E95678 } /* Generic.Deleted */
.pcpg .ge { color: #403C3D; font-style: italic } /* Generic.Emph */
.pcpg .gr { color: #FDF0ED; background-color: #E95678 } /* Generic.Error */
.pcpg .gh { color: #403C3D; font-weight: bold } /* Generic.Heading */
.pcpg .gi { color: #29D398 } /* Generic.Inserted */
.pcpg .go { color: #403C3D } /* Generic.Output */
.pcpg .gp { color: #403C3D; font-weight: bold } /* Generic.Prompt */
.pcpg .gs { color: #403C3D; font-weight: bold } /* Generic.Strong */
.pcpg .gu { color: #26BBD9 } /* Generic.Subheading */
.pcpg .gt { color: #403C3D } /* Generic.Traceback */
.pcpg .kc { color: #E95678; font-weight: bold } /* Keyword.Constant */
.pcpg .kd { color: #EE64AC } /* Keyword.Declaration */
.pcpg .kn { color: #EE64AC } /* Keyword.Namespace */
.pcpg .kp { color: #EE64AC } /* Keyword.Pseudo */
.pcpg .kr { color: #EE64AC } /* Keyword.Reserved */
.pcpg .kt { color: #E95678 } /* Keyword.Type */
.pcpg .ld { color: #29D398; font-weight: bold } /* Literal.Date */
.pcpg .m { color: #F9CEC3 } /* Literal.Number */
.pcpg .s { color: #29D398 } /* Literal.String */
.pcpg .na { color: #26BBD9 } /* Name.Attribute */
.pcpg .nb { color: #26BBD9 } /* Name.Builtin */
.pcpg .nc { color: #26BBD9 } /* Name.Class */
.pcpg .no { color: #F9CEC3 } /* Name.Constant */
.pcpg .nd { color: #F9CEC3 } /* Name.Decorator */
.pcpg .ni { color: #F9CBBE; font-weight: bold } /* Name.Entity */
.pcpg .ne { color: #403C3D } /* Name.Exception */
.pcpg .nf { color: #26BBD9 } /* Name.Function */
.pcpg .nl { color: #26BBD9 } /* Name.Label */
.pcpg .nn { color: #26BBD9 } /* Name.Namespace */
.pcpg .nx { color: #403C3D } /* Name.Other */
.pcpg .py { color: #403C3D } /* Name.Property */
.pcpg .nt { color: #EE64AC } /* Name.Tag */
.pcpg .nv { color: #26BBD9 } /* Name.Variable */
.pcpg .ow { color: #EE64AC } /* Operator.Word */
.pcpg .pm { color: #403C3D } /* Punctuation.Marker */
.pcpg .w { color: #FADAD1 } /* Text.Whitespace */
.pcpg .mb { color: #F9CEC3 } /* Literal.Number.Bin */
.pcpg .mf { color: #F9CEC3 } /* Literal.Number.Float */
.pcpg .mh { color: #F9CEC3 } /* Literal.Number.Hex */
.pcpg .mi { color: #F9CEC3 } /* Literal.Number.Integer */
.pcpg .mo { color: #F9CEC3 } /* Literal.Number.Oct */
.pcpg .sa { color: #29D398; font-weight: bold } /* Literal.String.Affix */
.pcpg .sb { color: #F9CEC3 } /* Literal.String.Backtick */
.pcpg .sc { color: #29D398 } /* Literal.String.Char */
.pcpg .dl { color: #403C3D; font-weight: bold } /* Literal.String.Delimiter */
.pcpg .sd { color: #29D398; font-style: italic } /* Literal.String.Doc */
.pcpg .s2 { color: #29D398 } /* Literal.String.Double */
.pcpg .se { color: #F9CBBE; font-weight: bold } /* Literal.String.Escape */
.pcpg .sh { color: #403C3D; font-weight: bold } /* Literal.String.Heredoc */
.pcpg .si { color: #F9CBBE } /* Literal.String.Interpol */
.pcpg .sx { color: #29D398 } /* Literal.String.Other */
.pcpg .sr { color: #59E1E3; font-weight: bold } /* Literal.String.Regex */
.pcpg .s1 { color: #29D398 } /* Literal.String.Single */
.pcpg .ss { color: #F9CEC3 } /* Literal.String.Symbol */
.pcpg .bp { color: #E95678 } /* Name.Builtin.Pseudo */
.pcpg .fm { color: #26BBD9 } /* Name.Function.Magic */
.pcpg .vc { color: #26BBD9 } /* Name.Variable.Class */
.pcpg .vg { color: #26BBD9 } /* Name.Variable.Global */
.pcpg .vi { color: #E95678 } /* Name.Variable.Instance */
.pcpg .vm { color: #26BBD9; font-weight: bold } /* Name.Variable.Magic */
.pcpg .il { color: #F9CEC3 } /* Literal.Number.Integer.Long */