@import "../../_common.css";
/* Base16 Gruber - Scheme author: Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme */
.pcpg .hll { background-color: #665c7f }
pre.pcpg, code.pcpg { background: #181818; color: #f4f4ff }
.pcpg .c { color: #9dae93; font-style: italic } /* Comment */
.pcpg .err { color: #f43841 } /* Error */
.pcpg .esc { color: #f4f4ff } /* Escape */
.pcpg .g { color: #f4f4ff } /* Generic */
.pcpg .k { color: #9e95c7 } /* Keyword */
.pcpg .l { color: #73c936 } /* Literal */
.pcpg .n { color: #f4f4ff } /* Name */
.pcpg .o { color: #95a99f } /* Operator */
.pcpg .x { color: #f4f4ff } /* Other */
.pcpg .p { color: #f4f4ff } /* Punctuation */
.pcpg .ch { color: #9dae93; font-weight: bold } /* Comment.Hashbang */
.pcpg .cm { color: #9dae93; font-style: italic } /* Comment.Multiline */
.pcpg .cp { color: #cc8c3c } /* Comment.Preproc */
.pcpg .cpf { color: #73c936; font-style: italic } /* Comment.PreprocFile */
.pcpg .c1 { color: #9dae93; font-style: italic } /* Comment.Single */
.pcpg .cs { color: #9dae93; font-weight: bold } /* Comment.Special */
.pcpg .gd { color: #f43841 } /* Generic.Deleted */
.pcpg .ge { color: #f4f4ff; font-style: italic } /* Generic.Emph */
.pcpg .gr { color: #181818; background-color: #f43841 } /* Generic.Error */
.pcpg .gh { color: #f4f4ff; font-weight: bold } /* Generic.Heading */
.pcpg .gi { color: #73c936 } /* Generic.Inserted */
.pcpg .go { color: #f4f4ff } /* Generic.Output */
.pcpg .gp { color: #f4f4ff; font-weight: bold } /* Generic.Prompt */
.pcpg .gs { color: #f4f4ff; font-weight: bold } /* Generic.Strong */
.pcpg .gu { color: #96a6c8 } /* Generic.Subheading */
.pcpg .gt { color: #f4f4ff } /* Generic.Traceback */
.pcpg .kc { color: #f43841; font-weight: bold } /* Keyword.Constant */
.pcpg .kd { color: #9e95c7 } /* Keyword.Declaration */
.pcpg .kn { color: #9e95c7 } /* Keyword.Namespace */
.pcpg .kp { color: #9e95c7 } /* Keyword.Pseudo */
.pcpg .kr { color: #9e95c7 } /* Keyword.Reserved */
.pcpg .kt { color: #f43841 } /* Keyword.Type */
.pcpg .ld { color: #73c936; font-weight: bold } /* Literal.Date */
.pcpg .m { color: #c73c3f } /* Literal.Number */
.pcpg .s { color: #73c936 } /* Literal.String */
.pcpg .na { color: #96a6c8 } /* Name.Attribute */
.pcpg .nb { color: #96a6c8 } /* Name.Builtin */
.pcpg .nc { color: #96a6c8 } /* Name.Class */
.pcpg .no { color: #c73c3f } /* Name.Constant */
.pcpg .nd { color: #c73c3f } /* Name.Decorator */
.pcpg .ni { color: #cc8c3c; font-weight: bold } /* Name.Entity */
.pcpg .ne { color: #f4f4ff } /* Name.Exception */
.pcpg .nf { color: #96a6c8 } /* Name.Function */
.pcpg .nl { color: #96a6c8 } /* Name.Label */
.pcpg .nn { color: #96a6c8 } /* Name.Namespace */
.pcpg .nx { color: #f4f4ff } /* Name.Other */
.pcpg .py { color: #f4f4ff } /* Name.Property */
.pcpg .nt { color: #9e95c7 } /* Name.Tag */
.pcpg .nv { color: #96a6c8 } /* Name.Variable */
.pcpg .ow { color: #9e95c7 } /* Operator.Word */
.pcpg .pm { color: #f4f4ff } /* Punctuation.Marker */
.pcpg .w { color: #453d41 } /* Text.Whitespace */
.pcpg .mb { color: #c73c3f } /* Literal.Number.Bin */
.pcpg .mf { color: #c73c3f } /* Literal.Number.Float */
.pcpg .mh { color: #c73c3f } /* Literal.Number.Hex */
.pcpg .mi { color: #c73c3f } /* Literal.Number.Integer */
.pcpg .mo { color: #c73c3f } /* Literal.Number.Oct */
.pcpg .sa { color: #73c936; font-weight: bold } /* Literal.String.Affix */
.pcpg .sb { color: #c73c3f } /* Literal.String.Backtick */
.pcpg .sc { color: #73c936 } /* Literal.String.Char */
.pcpg .dl { color: #f4f4ff; font-weight: bold } /* Literal.String.Delimiter */
.pcpg .sd { color: #73c936; font-style: italic } /* Literal.String.Doc */
.pcpg .s2 { color: #73c936 } /* Literal.String.Double */
.pcpg .se { color: #cc8c3c; font-weight: bold } /* Literal.String.Escape */
.pcpg .sh { color: #f4f4ff; font-weight: bold } /* Literal.String.Heredoc */
.pcpg .si { color: #cc8c3c } /* Literal.String.Interpol */
.pcpg .sx { color: #73c936 } /* Literal.String.Other */
.pcpg .sr { color: #95a99f; font-weight: bold } /* Literal.String.Regex */
.pcpg .s1 { color: #73c936 } /* Literal.String.Single */
.pcpg .ss { color: #c73c3f } /* Literal.String.Symbol */
.pcpg .bp { color: #f43841 } /* Name.Builtin.Pseudo */
.pcpg .fm { color: #96a6c8 } /* Name.Function.Magic */
.pcpg .vc { color: #96a6c8 } /* Name.Variable.Class */
.pcpg .vg { color: #96a6c8 } /* Name.Variable.Global */
.pcpg .vi { color: #f43841 } /* Name.Variable.Instance */
.pcpg .vm { color: #96a6c8; font-weight: bold } /* Name.Variable.Magic */
.pcpg .il { color: #c73c3f } /* Literal.Number.Integer.Long */