@import "../../_common.css";
/* Base16 Twilight - Scheme author: David Hart (https://github.com/hartbit) */
.pcpg .hll { background-color: #464b50 }
pre.pcpg, code.pcpg { background: #1e1e1e; color: #a7a7a7 }
.pcpg .c { color: #5f5a60; font-style: italic } /* Comment */
.pcpg .err { color: #cf6a4c } /* Error */
.pcpg .esc { color: #a7a7a7 } /* Escape */
.pcpg .g { color: #a7a7a7 } /* Generic */
.pcpg .k { color: #9b859d } /* Keyword */
.pcpg .l { color: #8f9d6a } /* Literal */
.pcpg .n { color: #a7a7a7 } /* Name */
.pcpg .o { color: #afc4db } /* Operator */
.pcpg .x { color: #a7a7a7 } /* Other */
.pcpg .p { color: #a7a7a7 } /* Punctuation */
.pcpg .ch { color: #5f5a60; font-weight: bold } /* Comment.Hashbang */
.pcpg .cm { color: #5f5a60; font-style: italic } /* Comment.Multiline */
.pcpg .cp { color: #9b703f } /* Comment.Preproc */
.pcpg .cpf { color: #8f9d6a; font-style: italic } /* Comment.PreprocFile */
.pcpg .c1 { color: #5f5a60; font-style: italic } /* Comment.Single */
.pcpg .cs { color: #5f5a60; font-weight: bold } /* Comment.Special */
.pcpg .gd { color: #cf6a4c } /* Generic.Deleted */
.pcpg .ge { color: #a7a7a7; font-style: italic } /* Generic.Emph */
.pcpg .gr { color: #1e1e1e; background-color: #cf6a4c } /* Generic.Error */
.pcpg .gh { color: #a7a7a7; font-weight: bold } /* Generic.Heading */
.pcpg .gi { color: #8f9d6a } /* Generic.Inserted */
.pcpg .go { color: #a7a7a7 } /* Generic.Output */
.pcpg .gp { color: #a7a7a7; font-weight: bold } /* Generic.Prompt */
.pcpg .gs { color: #a7a7a7; font-weight: bold } /* Generic.Strong */
.pcpg .gu { color: #7587a6 } /* Generic.Subheading */
.pcpg .gt { color: #a7a7a7 } /* Generic.Traceback */
.pcpg .kc { color: #cf6a4c; font-weight: bold } /* Keyword.Constant */
.pcpg .kd { color: #9b859d } /* Keyword.Declaration */
.pcpg .kn { color: #9b859d } /* Keyword.Namespace */
.pcpg .kp { color: #9b859d } /* Keyword.Pseudo */
.pcpg .kr { color: #9b859d } /* Keyword.Reserved */
.pcpg .kt { color: #cf6a4c } /* Keyword.Type */
.pcpg .ld { color: #8f9d6a; font-weight: bold } /* Literal.Date */
.pcpg .m { color: #cda869 } /* Literal.Number */
.pcpg .s { color: #8f9d6a } /* Literal.String */
.pcpg .na { color: #7587a6 } /* Name.Attribute */
.pcpg .nb { color: #7587a6 } /* Name.Builtin */
.pcpg .nc { color: #7587a6 } /* Name.Class */
.pcpg .no { color: #cda869 } /* Name.Constant */
.pcpg .nd { color: #cda869 } /* Name.Decorator */
.pcpg .ni { color: #9b703f; font-weight: bold } /* Name.Entity */
.pcpg .ne { color: #a7a7a7 } /* Name.Exception */
.pcpg .nf { color: #7587a6 } /* Name.Function */
.pcpg .nl { color: #7587a6 } /* Name.Label */
.pcpg .nn { color: #7587a6 } /* Name.Namespace */
.pcpg .nx { color: #a7a7a7 } /* Name.Other */
.pcpg .py { color: #a7a7a7 } /* Name.Property */
.pcpg .nt { color: #9b859d } /* Name.Tag */
.pcpg .nv { color: #7587a6 } /* Name.Variable */
.pcpg .ow { color: #9b859d } /* Operator.Word */
.pcpg .pm { color: #a7a7a7 } /* Punctuation.Marker */
.pcpg .w { color: #323537 } /* Text.Whitespace */
.pcpg .mb { color: #cda869 } /* Literal.Number.Bin */
.pcpg .mf { color: #cda869 } /* Literal.Number.Float */
.pcpg .mh { color: #cda869 } /* Literal.Number.Hex */
.pcpg .mi { color: #cda869 } /* Literal.Number.Integer */
.pcpg .mo { color: #cda869 } /* Literal.Number.Oct */
.pcpg .sa { color: #8f9d6a; font-weight: bold } /* Literal.String.Affix */
.pcpg .sb { color: #cda869 } /* Literal.String.Backtick */
.pcpg .sc { color: #8f9d6a } /* Literal.String.Char */
.pcpg .dl { color: #a7a7a7; font-weight: bold } /* Literal.String.Delimiter */
.pcpg .sd { color: #8f9d6a; font-style: italic } /* Literal.String.Doc */
.pcpg .s2 { color: #8f9d6a } /* Literal.String.Double */
.pcpg .se { color: #9b703f; font-weight: bold } /* Literal.String.Escape */
.pcpg .sh { color: #a7a7a7; font-weight: bold } /* Literal.String.Heredoc */
.pcpg .si { color: #9b703f } /* Literal.String.Interpol */
.pcpg .sx { color: #8f9d6a } /* Literal.String.Other */
.pcpg .sr { color: #afc4db; font-weight: bold } /* Literal.String.Regex */
.pcpg .s1 { color: #8f9d6a } /* Literal.String.Single */
.pcpg .ss { color: #cda869 } /* Literal.String.Symbol */
.pcpg .bp { color: #cf6a4c } /* Name.Builtin.Pseudo */
.pcpg .fm { color: #7587a6 } /* Name.Function.Magic */
.pcpg .vc { color: #7587a6 } /* Name.Variable.Class */
.pcpg .vg { color: #7587a6 } /* Name.Variable.Global */
.pcpg .vi { color: #cf6a4c } /* Name.Variable.Instance */
.pcpg .vm { color: #7587a6; font-weight: bold } /* Name.Variable.Magic */
.pcpg .il { color: #cda869 } /* Literal.Number.Integer.Long */