@import "../../_common.css";
/* Base16 Black Metal (Mayhem) - Scheme author: metalelf0 (https://github.com/metalelf0) */
.pcpg .hll   { background-color: var(--base02,#222222) }
pre.pcpg,
code.pcpg    { color: var(--base05,#c1c1c1); background: var(--base01,#121212) }
.pcpg .c     { color: var(--base03,#333333) } /* Comment */
.pcpg .err   { color: var(--base0f,#444444) } /* Error */
.pcpg .esc   { color: var(--base0c,#aaaaaa) } /* Escape */
.pcpg .g     { color: var(--base05,#c1c1c1) } /* Generic */
.pcpg .k     { color: var(--base0e,#999999) } /* Keyword */
.pcpg .l     { color: var(--base0b,#f3ecd4) } /* Literal */
.pcpg .n     { color: var(--base04,#999999) } /* Name */
.pcpg .o     { color: var(--base04,#999999); font-weight: bold } /* Operator */
.pcpg .x     { color: var(--base05,#c1c1c1) } /* Other */
.pcpg .p     { color: var(--base04,#999999) } /* Punctuation */
.pcpg .ch    { color: var(--base04,#999999) } /* Comment.Hashbang */
.pcpg .cm    { color: var(--base03,#333333) } /* Comment.Multiline */
.pcpg .cp    { color: var(--base0c,#aaaaaa) } /* Comment.Preproc */
.pcpg .cpf   { color: var(--base03,#333333) } /* Comment.PreprocFile */
.pcpg .c1    { color: var(--base03,#333333) } /* Comment.Single */
.pcpg .cs    { color: var(--base0d,#888888) } /* Comment.Special */
.pcpg .gd    { color: var(--base08,#5f8787) } /* Generic.Deleted */
.pcpg .ge    { color: var(--base05,#c1c1c1); font-style: italic } /* Generic.Emph */
.pcpg .gr    { color: var(--base08,#5f8787) } /* Generic.Error */
.pcpg .gh    { color: var(--base05,#c1c1c1); font-weight: bold } /* Generic.Heading */
.pcpg .gi    { color: var(--base0b,#f3ecd4) } /* Generic.Inserted */
.pcpg .go    { color: var(--base04,#999999) } /* Generic.Output */
.pcpg .gp    { color: var(--base05,#c1c1c1); font-weight: bold } /* Generic.Prompt */
.pcpg .gs    { color: var(--base05,#c1c1c1); font-weight: bold } /* Generic.Strong */
.pcpg .gu    { color: var(--base0d,#888888) } /* Generic.Subheading */
.pcpg .gt    { color: var(--base04,#999999) } /* Generic.Traceback */
.pcpg .kc    { color: var(--base09,#aaaaaa) } /* Keyword.Constant */
.pcpg .kd    { color: var(--base0e,#999999) } /* Keyword.Declaration */
.pcpg .kn    { color: var(--base0e,#999999) } /* Keyword.Namespace */
.pcpg .kp    { color: var(--base0e,#999999) } /* Keyword.Pseudo */
.pcpg .kr    { color: var(--base0e,#999999) } /* Keyword.Reserved */
.pcpg .kt    { color: var(--base0e,#999999) } /* Keyword.Type */
.pcpg .ld    { color: var(--base0b,#f3ecd4); font-weight: bold } /* Literal.Date */
.pcpg .m     { color: var(--base09,#aaaaaa) } /* Literal.Number */
.pcpg .s     { color: var(--base08,#5f8787) } /* Literal.String */
.pcpg .na    { color: var(--base0d,#888888) } /* Name.Attribute */
.pcpg .nb    { color: var(--base0e,#999999) } /* Name.Builtin */
.pcpg .nc    { color: var(--base0a,#eecc6c) } /* Name.Class */
.pcpg .no    { color: var(--base09,#aaaaaa) } /* Name.Constant */
.pcpg .nd    { color: var(--base0e,#999999) } /* Name.Decorator */
.pcpg .ni    { color: var(--base08,#5f8787); font-weight: bold } /* Name.Entity */
.pcpg .ne    { color: var(--base05,#c1c1c1) } /* Name.Exception */
.pcpg .nf    { color: var(--base0d,#888888) } /* Name.Function */
.pcpg .nl    { color: var(--base0d,#888888) } /* Name.Label */
.pcpg .nn    { color: var(--base0d,#888888) } /* Name.Namespace */
.pcpg .nx    { color: var(--base04,#999999) } /* Name.Other */
.pcpg .py    { color: var(--base04,#999999) } /* Name.Property */
.pcpg .nt    { color: var(--base08,#5f8787) } /* Name.Tag */
.pcpg .nv    { color: var(--base08,#5f8787) } /* Name.Variable */
.pcpg .ow    { color: var(--base04,#999999); font-weight: bold } /* Operator.Word */
.pcpg .pm    { color: var(--base04,#999999) } /* Punctuation.Marker */
.pcpg .w     { color: var(--base03,#333333) } /* Text.Whitespace */
.pcpg .mb    { color: var(--base09,#aaaaaa) } /* Literal.Number.Bin */
.pcpg .mf    { color: var(--base09,#aaaaaa) } /* Literal.Number.Float */
.pcpg .mh    { color: var(--base09,#aaaaaa) } /* Literal.Number.Hex */
.pcpg .mi    { color: var(--base09,#aaaaaa) } /* Literal.Number.Integer */
.pcpg .mo    { color: var(--base09,#aaaaaa) } /* Literal.Number.Oct */
.pcpg .sa    { color: var(--base0b,#f3ecd4) } /* Literal.String.Affix */
.pcpg .sb    { color: var(--base0c,#aaaaaa) } /* Literal.String.Backtick */
.pcpg .sc    { color: var(--base0c,#aaaaaa) } /* Literal.String.Char */
.pcpg .dl    { color: var(--base04,#999999) } /* Literal.String.Delimiter */
.pcpg .sd    { color: var(--base0b,#f3ecd4) } /* Literal.String.Doc */
.pcpg .s2    { color: var(--base0b,#f3ecd4) } /* Literal.String.Double */
.pcpg .se    { color: var(--base0c,#aaaaaa) } /* Literal.String.Escape */
.pcpg .sh    { color: var(--base0b,#f3ecd4) } /* Literal.String.Heredoc */
.pcpg .si    { color: var(--base0b,#f3ecd4) } /* Literal.String.Interpol */
.pcpg .sx    { color: var(--base0b,#f3ecd4) } /* Literal.String.Other */
.pcpg .sr    { color: var(--base0c,#aaaaaa); font-weight: bold } /* Literal.String.Regex */
.pcpg .s1    { color: var(--base0b,#f3ecd4) } /* Literal.String.Single */
.pcpg .ss    { color: var(--base0b,#f3ecd4) } /* Literal.String.Symbol */
.pcpg .bp    { color: var(--base0e,#999999) } /* Name.Builtin.Pseudo */
.pcpg .fm    { color: var(--base0d,#888888) } /* Name.Function.Magic */
.pcpg .vc    { color: var(--base0a,#eecc6c) } /* Name.Variable.Class */
.pcpg .vg    { color: var(--base08,#5f8787) } /* Name.Variable.Global */
.pcpg .vi    { color: var(--base08,#5f8787) } /* Name.Variable.Instance */
.pcpg .vm    { color: var(--base08,#5f8787); font-weight: bold } /* Name.Variable.Magic */
.pcpg .il    { color: var(--base09,#aaaaaa) } /* Literal.Number.Integer.Long */