label[for="dd"] {
  display: inline-block;
  padding:0.5em;
}
/* Dropdown Content (Hidden by Default) */
#dd,.ddc {
  display: none;
}
.ddc {
  padding:.3em 0;
  line-height:1.3em;
}
/* Links inside the dropdown */
.ddc a {
  float:left; 
  width: 33.33%; 
  white-space: nowrap; 
  overflow:hidden;
  letter-spacing: -0.05em;
  display: inline-block;
  padding:0 .3em;
}
#dd:checked ~ .ddc {display: inline-block;}

p,h3 { margin:0.5em 0 0 0;padding:0 }
h3 { letter-spacing: -0.05em; font-size: 1.2em }
div.all div pre { font-size:.8em; white-space: pre-wrap; tab-size: 28; padding:.5em .1em .5em .5em; border: .2em solid #666; margin: 0; width: 100% }
div.all div h3 a { opacity:0 }
div.all div h3 a::after { content:' ∆' }
div.all div h3:hover a { opacity:1; text-decoration:none; }
/*
@media screen and (min-width: 900px) {
    div.all { display:flex; justify-content: space-between; flex-wrap:wrap; }
    .ddc a { width: 20%; }
    div.all div { width:49.5%; }
    }
*/
